/* Reset the browser pre-defined style with margin and padding value to 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Change Body Fonts color and style */
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}

/* Style for Header  */
/* Adding header padding, backgrond color and flex for header name and navigation */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Adding header font properties  */
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: gold;
}

/* This will make every a tag in header tag  */
header a {
  text-decoration: none;
  color: gold;
}

/* This is the only specific a tag for nav bar  */
header nav a {
  font-weight: lighter;
  font-size: 22px;
}

/* Header include the heading title and navbar. This take navbar for 50% width in header */
header nav {
  width: 50%;
}

/* Navbar is making with unorder list and this flex will change list direction in row. */
header ul {
  display: flex;
  justify-content: space-around;
}
footer {

  background: #fce138;

  width: 100%;

  padding: 40px 35px;

}

.intro {
  text-align: center;
}

.intro {
  font-size: 55px;
  color: #39a6b2;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  border-color: #fce138;
}

 .intro h2 {
  /* add this alongside your other declarations */
  display: inline-block;
} 

.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80;
  font-size: 20px;
}

.intro p {
  /* add this alongside your other declarations */
  margin: auto;
}

.steps {
  text-align: center;
  background: #fce138;
}

 .steps h2 {
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  border-color: #39a6b2;
} 

.section-title {
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  display: inline-block;
  border-bottom: 3px solid;
}

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}

 /* remove this entire CSS rule */

 .intro h2 {

}

 /* and this one */

 .steps h2 {

}

.steps div {
  margin-bottom: 80px;

}

.steps img {
  width: 15%;
  margin: 10px 0;
}

.steps h3 {
  color: #024e76;
  font-size: 46px;
  margin-top: 10px;
}

.steps p {
  color: #39a6b2;
  font-size: 23px;
}

.steps span {
  font-size: 38px;
}

footer h2 {

  display: inline;

  color: #024e76;

  font-size: 30px;

  margin: 0;

}

footer div {

  float: right;

  line-height: 1.5;

  text-align: right;

}

footer a {

  color: #024e76;

}

/* REACH OUT STYLE START */
.contact {
  text-align: center;
  background: #024e76;
}
.contact h2 {
  color: #fce138;
}
.contact-info iframe {
  width: 400px;
  height: 400px;
}
.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
}
.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}
.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}
.contact-info a {
  color: #fce138;
}